*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Roboto Mono', monospace;
}
:root{
    --colortitulos:#0038b6;
    --colorparrafos: black;
    --colorfondobotones:rgb(77, 146, 125);
    --fontzizetextos:20px;
    --bordesbotones: 2px solid black;
    --padingsecciones: 60px 0;
    --fontzize-parrafos: 20px;
}
.contenedor{
    width: 90%;
    max-width: 1200px ;
    margin: auto ;
    overflow: hidden;
    padding: var(--padingsecciones) ;
}


/* Menu*/

.menu-navegacion{
    width: 100%;
    display: flex;  /*método que puede ayudar a distribuir el espacio entre los ítems de una interfaz y mejorar las capacidades de alineación*/
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 70px;
    border-bottom: 2px solid black ;  
}
.logo{
    height: 60px;
}

.logo img{
    display: block;
    height: 100%;
    
}


#menu{
    height: 100%;

}

#menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;

}

#menu ul{
    margin-top:30px;
    list-style:none;
}

#menu a{
    display:flex;
    text-decoration:none;
    padding:5px 10px;
    box-sizing:border-box;
    font-size:16px;
    color:#000;
    outline:none;
}


/*Hero*/

.hero{
    height: 600px;
    background-image: url(imagenes/fondo-hero.jpg);
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.contenedor-textos{
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;  /*El eje principal está definido por flex-direction, que posee cuatro posibles valores:
                                row
                                row-reverse
                                column
                                column-reverse
                                Al elegir column o column-reverse el eje principal correrá desde el borde superior de la página hasta el final — según la dirección del bloque*/
    align-items: center;
    justify-content: center;
}

.hero h1{
    padding: 15px;
    font-weight: 700;
    border: 4px solid black;
    border-radius: 4px;
    color: black;
    font-size: 40px;
    margin-bottom: 20px;
}
.hero h1:hover{
    border: 4px dashed white;
    transition: 1s;
}
 
.hero p{
    font-size: var(--fontzize-parrafos);
    color: var(--colorparrafos);
    margin-bottom: 20px;
}

.boton{
    width: 150px;
    padding: 10px 0;
    margin: 0 auto;
    font-size: 20px;
    color: white;
    background: rgb(0, 0, 0);
    text-decoration: none;
    border: 2px solid white;
    border-radius: 10px;
}
.boton:hover{
    background: white;
    color: black;
    border: 2px solid black;
}
/*Main*/

.titulo-seccion{
    font-size: 36px;
    color: var(--colortitulos) ;
    text-align: center;
    margin-bottom: 20px;
}

.copy{
    text-align: center;
    color: var(--colorparrafos);
    font-size: var(--fontzize-parrafos);
    margin: 20px 0;
}


.beneficios{
    padding-top: 40px;
    display: flex;  
    justify-content: space-evenly; 
    flex-wrap: wrap;  /* especifica si los elementos "hijos" son obligados a permanecer en una misma línea o pueden fluir en varias líneas. Si la cobertura (wrap) está permitida, esta propiedad también te permite controlar la dirección en la cual serán apilados los elementos.
                        nowrap: los elementos flex son distribuidos en una sola línea, lo cual puede llevar a que se desborde el contenedor flex.
                        wrap: los elementos flex son colocados en varias líneas
                        wrap-reverse: Actúa como wrap pero cross-start y cross-end están intercambiados.
                        CON flex-flow: se puede escribir primero flex-direction y segundo flex-wrap en un mismo codigo*/
}
.beneficio{
    display: flex;
    align-items: center;  /*La propiedad align-items alineará los ítems sobre el eje cruzado. El valor inicial para esta propiedad es stretch razón por la cual los ítems se ajustan por defecto a la altura de aquel más alto. En efecto se ajustan para llenar el contenedor flex — el ítem más alto define la altura de este.*/

    justify-content: center; /*La propiedad justify-content es usada para alinear los ítems en el eje principal, cuyo flex-direction define la dirección del flujo. El valor inicial es flex-start que alineará los ítems al inicio del margen del contenedo. También podemos usar space-between para tomar todo el espacio sobrante después de que los ítems hayan sido colocados, y distribuir de forma pareja los ítems para que haya un espacio equitativo entre cada ítem. O bien, usamos el valor space-around para crear un espacio equitativo a la derecha e izquierda de cada ítem.*/
    margin-left: 10px; 
    font-size: 20px;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    box-shadow: 0 0  5px black;
    
}

.beneficio1{
    background: url(imagenes/oferta1.jpg);
    background-position: center;
    background-size: cover;
}
.beneficio:hover{
  transform: scale(1.2);
  transition: 1s;

}

.beneficio2{
    background: url(imagenes/oferta2.jpg);
    background-position: center;
    background-size: cover;
}

.beneficio3{
    background: url(imagenes/oferta3.jpg);
    background-position: center;
    background-size: cover;
}

.beneficio4{
    background: url(imagenes/oferta4.jpg);
    background-position: center;
    background-size: cover;
}

.beneficio5{
    background: url(imagenes/oferta5.jpg);
    background-position: center;
    background-size: cover;
}

/* Portafolio*/
.portafolio{
    background: #b8b8b86b;
}

.contenedor-imagenes {
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.contenedor-imagenes img{
    display: block;
    width: 30%;
    box-shadow: 0 0 8px rgb(0, 0, 0 , .4);
    margin-bottom: 40px ;
}

.contenedor-imagenes img:hover{
    transform: scale(1.1);
    transition: 1s;
}

/* Footer*/

footer .titulo-seccion{
    color: var(--colortitulos);
}
.footer{
    padding: 0;
}
 footer .copy{
    color: var(--colorparrafos);
    font-size: var(--fontzize-parrafos);

}
.redes-sociales{
    display:flex;
    justify-content: center;
}

.redes-sociales i{
    padding: 0 20px;
    font-size: 30px;
}

