*{
    padding: 0;
    margin: 0;
}

html,body{
}


ul{
    width: 100%;
    height: 100%;
    position: relative;
}

.img1,.img2,.img3,.img4{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.img1{
    background: url(imagenes/img1.jpg) center center no-repeat;
    background-size: cover;
    z-index: 4;
}

.img2{
    background: url(imagenes/img2.jpg) center center no-repeat;
    background-size: cover;
    z-index: 3;
}

.img3{
    background: url(imagenes/img3.jpg) center center no-repeat;
    background-size: cover;
    z-index: 2;
}

.img4{
    background: url(imagenes/img4.jpg) center center no-repeat;
    background-size: cover;
    z-index: 1;
}